# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
!wget "https://github.com/shmihmih/iad-intro-ds/raw/79346b318e6db5d5381a7f0e14c38907127fe743/2023/homeworks/Data.zip"
!unzip "Data.zip"

--2023-02-16 08:10:29--  https://github.com/shmihmih/iad-intro-ds/raw/79346b318e6db5d5381a7f0e14c38907127fe743/2023/homeworks/Data.zip
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/shmihmih/iad-intro-ds/79346b318e6db5d5381a7f0e14c38907127fe743/2023/homeworks/Data.zip [following]
--2023-02-16 08:10:29--  https://raw.githubusercontent.com/shmihmih/iad-intro-ds/79346b318e6db5d5381a7f0e14c38907127fe743/2023/homeworks/Data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16727 (16K) [application/zip]
Saving to: ‘Data.zip’

Data.zip            100%[===================>]  16.33K  --.-KB/s    in 0.001s

2023-02-16 08:10:29 (18.1 MB/s) - ‘Data.zip’ saved [16727/16727]

Archive:  Data.zip
   creating: Data/
  inflating: Data/Students_info_0.csv
  inflating: Data/Students_info_1.csv
  inflating: Data/Students_info_2.csv
  inflating: Data/Students_info_3.csv
  inflating: Data/Students_info_4.csv
  inflating: Data/Students_info_5.csv
  inflating: Data/Students_info_6.csv
  inflating: Data/Students_info_7.csv
  inflating: Data/Students_info_8.csv
  inflating: Data/Students_info_9.csv
  inflating: Data/Students_marks_0.csv
  inflating: Data/Students_marks_1.csv
  inflating: Data/Students_marks_2.csv
  inflating: Data/Students_marks_3.csv
  inflating: Data/Students_marks_4.csv
  inflating: Data/Students_marks_5.csv
  inflating: Data/Students_marks_6.csv
  inflating: Data/Students_marks_7.csv
  inflating: Data/Students_marks_8.csv
  inflating: Data/Students_marks_9.csv

In [38]:
df_std = pd.read_csv('Data/Students_info_0.csv', sep=',')
for i in range (1,10):
  k=str(i)
  m="Data/Students_info_"+k+'.csv'
  df_help = pd.read_csv(m, sep=',')
  df_std=df_std.append(df_help, sort=False)
df_grd=pd.read_csv('Data/Students_marks_0.csv', sep=',')
for i in range (1,10):
  k=str(i)
  m="Data/Students_marks_"+k+'.csv'
  df_help = pd.read_csv(m, sep=',')
  df_grd=df_grd.append(df_help, sort=False)
df_final=pd.merge(df_std, df_grd, on='index', how='outer')
print('Начало таблицы:')
print(df_final.head())
print('Конец таблицы:')
print(df_final.tail())

Начало таблицы:
   index  gender race/ethnicity parental level of education         lunch  \
0      0  female        group B           bachelor's degree      standard
1      1  female        group C                some college      standard
2      2  female        group B             master's degree      standard
3      3    male        group A          associate's degree  free/reduced
4      4    male        group C                some college      standard

  test preparation course   group  math score  reading score  writing score
0                    none  group1          72             72             74
1               completed  group1          69             90             88
2                    none  group1          90             95             93
3                    none  group1          47             57             44
4                    none  group1          76             78             75
Конец таблицы:
     index  gender race/ethnicity parental level of education         lunch  \
995    995  female        group E             master's degree      standard
996    996    male        group C                 high school  free/reduced
997    997  female        group C                 high school  free/reduced
998    998  female        group D                some college      standard
999    999  female        group D                some college  free/reduced

    test preparation course    group  math score  reading score  writing score
995               completed  group10          88             99             95
996                    none  group10          62             55             55
997               completed  group10          59             71             65
998               completed  group10          68             78             77
999                    none  group10          77             86             86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [39]:
New_data=df_final[df_final.columns.drop("index")]
print('Первые 10 строк таблицы:')
print(New_data.head(10))

Первые 10 строк таблицы:
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test preparation course   group  math score  reading score  writing score
0                    none  group1          72             72             74
1               completed  group1          69             90             88
2                    none  group1          90             95             93
3                    none  group1          47             57             44
4                    none  group1          76             78             75
5                    none  group1          71             83             78
6               completed  group1          88             95             92
7                    none  group1          40             43             39
8               completed  group1          64             64             67
9                    none  group1          38             60             50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [40]:
print("Размер таблицы:", New_data.shape)
K=New_data.shape
print('Количество строк таблицы:',K[0])
print('Количество столбцов таблицы:',K[1])

Размер таблицы: (1000, 9)
Количество строк таблицы: 1000
Количество столбцов таблицы: 9

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [46]:
#Для всех предметов вместе:
New_data_stat=New_data[New_data.columns.drop(["gender",'race/ethnicity','parental level of education','lunch','test preparation course','group'])]
print('Минимум:',New_data_stat.min(), sep='\n')
print('Максимум:',New_data_stat.max(), sep='\n')
print('Среднее значение:',New_data_stat.mean(), sep='\n')
print('Стандартное отклонение:',New_data_stat.std(), sep='\n')



# Для каждого из предметов по-отдельности:
Chisl_stolb=['math score','reading score',"writing score"]
for i in Chisl_stolb:
  print('Для предмета',i.split()[0])
  Mmin=New_data[i].min()
  Mmax=New_data[i].max()
  Msred=New_data[i].mean()
  Mstd=New_data[i].std()
  print('Минимум:', Mmin)
  print('Максимум:',Mmax)
  print('Среднее значение:',Msred)
  print('Стандартное отклонение:',Mstd)

#еще вот так можно, но здесь есть доп характеристики:
print(New_data_stat.describe())

Минимум:
math score        0
reading score    17
writing score    10
dtype: int64
Максимум:
math score       100
reading score    100
writing score    100
dtype: int64
Среднее значение:
math score       66.089
reading score    69.169
writing score    68.054
dtype: float64
Стандартное отклонение:
math score       15.163080
reading score    14.600192
writing score    15.195657
dtype: float64
Для предмета math
Минимум: 0
Максимум: 100
Среднее значение: 66.089
Стандартное отклонение: 15.16308009600945
Для предмета reading
Минимум: 17
Максимум: 100
Среднее значение: 69.169
Стандартное отклонение: 14.600191937252216
Для предмета writing
Минимум: 10
Максимум: 100
Среднее значение: 68.054
Стандартное отклонение: 15.19565701086965
       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [42]:
Nan_kol=New_data.isnull().sum().sum()
if Nan_kol==0:
  print('В таблице нет пропущенных значений')
else:
  print("В таблице есть пропущенные значения. Их количество равно", Nan_kol)

В таблице нет пропущенных значений

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [43]:
print('Для предмета math средний балл студентов составляет:', New_data['math score'].mean())
print('Для предмета reading средний балл студентов составляет:', New_data['reading score'].mean())
print('Для предмета writing средний балл студентов составляет:', New_data['writing score'].mean())

Для предмета math средний балл студентов составляет: 66.089
Для предмета reading средний балл студентов составляет: 69.169
Для предмета writing средний балл студентов составляет: 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [44]:
Exam=New_data.groupby(by='test preparation course')
print('Средний балл студентов в зависимости от прохождения курса подготовки к экзамену:')
print(Exam.mean())
print('Вывод: Оценки студентов, прошедших курс подготовки к экзамену, выше по всем предметам')
#Если формулировка "для каждого предмета в отдельности" означает прям отдельную строчку для каждого предмета, то вот:
print('Средний балл студентов в зависимости от прохождения курса подготовки к экзамену по math:')
print(Exam['math score'].mean())
print('Средний балл студентов в зависимости от прохождения курса подготовки к экзамену по reading:')
print(Exam['reading score'].mean())
print('Средний балл студентов в зависимости от прохождения курса подготовки к экзамену по writing:')
print(Exam['writing score'].mean())

Средний балл студентов в зависимости от прохождения курса подготовки к экзамену:
                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673
Вывод: Оценки студентов, прошедших курс подготовки к экзамену, выше по всем предметам
Средний балл студентов в зависимости от прохождения курса подготовки к экзамену по math:
test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64
Средний балл студентов в зависимости от прохождения курса подготовки к экзамену по reading:
test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64
Средний балл студентов в зависимости от прохождения курса подготовки к экзамену по writing:
test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [12]:
print('В столбце lunch есть такие значения:')
print(*New_data.lunch.unique(), sep=', ')

В столбце lunch есть такие значения:
standard, free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [33]:
New_data=New_data.rename(columns={'parental level of education':'education', 'test preparation course':'test preparation'})
print(New_data.head())

   gender race/ethnicity           education         lunch test preparation  \
0  female        group B   bachelor's degree      standard             none
1  female        group C        some college      standard        completed
2  female        group B     master's degree      standard             none
3    male        group A  associate's degree  free/reduced             none
4    male        group C        some college      standard             none

    group  math score  reading score  writing score
0  group1          72             72             74
1  group1          69             90             88
2  group1          90             95             93
3  group1          47             57             44
4  group1          76             78             75

**Зафиксируем минимальный балл для сдачи экзамена**

In [14]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [15]:
#Какая доля студентов сдала экзамен по математике (passmark >= 50)?
Q1=New_data
vsego=Q1.shape[0]
sdali=len(Q1.loc[(Q1['math score']>=passmark)])
print('Доля студентов, сдавших экзамен по математике:', sdali/vsego, '.Что равносильно', sdali*100/vsego, '%')
#Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике? 
Q2=New_data
sdali2=len(Q2.loc[(Q2["test preparation"]=='completed') & (Q2["math score"]>=passmark)])
vsego2=len(Q2.loc[(Q2["test preparation"]=='completed')])
print('Доля студентов, проходивших курс подготовки к экзамену и сдавших экзамен по математике:',sdali2/vsego2,'. Что равносильно', sdali2*100/vsego2, '%' )
#Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?
Q3=New_data
sdali3=len(Q3.loc[(Q3["gender"]=='female') & (Q3["test preparation"]=='none') & (Q3["math score"]<passmark)])
vsego3=len(Q3.loc[(Q3["gender"]=='female') & (Q3["test preparation"]=='none')])
print('Доля женщин, не проходивших курс подготовки к экзамену и не сдавших экзамен по математике:', sdali3/vsego3,'.Что равносильно',sdali3*100/vsego3,'%')

Доля студентов, сдавших экзамен по математике: 0.865 .Что равносильно 86.5 %
Доля студентов, проходивших курс подготовки к экзамену и сдавших экзамен по математике: 0.9217877094972067 . Что равносильно 92.17877094972067 %
Доля женщин, не проходивших курс подготовки к экзамену и не сдавших экзамен по математике: 0.20958083832335328 .Что равносильно 20.95808383233533 %

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [16]:
import time 
#Для каждой этнической группы выведите средний балл за экзамен по чтению
start = time.time()
print('Средний балл за экзамен по чтению для каждой этнической группы:')
print(New_data.groupby('race/ethnicity')['reading score'].mean())
end = time.time() - start
print('Время выполнения задания 1:',end)
#Для каждого уровня образования выведите минимальный балл за экзамен по письму
start2 = time.time()
print('Минимальный балл за экзамен по письму для каждого уровня образования:')
print(New_data.groupby('education')['writing score'].min())
end2 = time.time() - start2
print('Время выполнения задания 2:',end2)

Средний балл за экзамен по чтению для каждой этнической группы:
race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
Время выполнения задания 1: 0.005110979080200195
Минимальный балл за экзамен по письму для каждого уровня образования:
education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
Время выполнения задания 2: 0.006514549255371094

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [17]:
#Для каждой этнической группы выведите средний балл за экзамен по чтению
start3 = time.time()
Ball={}
Kolvo={}
for i in range(0,New_data.shape[0]):
  Helper=New_data.loc[i]
  if Helper['race/ethnicity'] in Ball:
    Ball[Helper['race/ethnicity']]+=Helper['reading score']
  else:
    Ball[Helper['race/ethnicity']]=Helper['reading score']
  if Helper['race/ethnicity'] in Kolvo:
    Kolvo[Helper['race/ethnicity']]+=1
  else:
    Kolvo[Helper['race/ethnicity']]=1
Srednie_balli={}
for i in Ball:
  Srednie_balli[i]=Ball[i]/Kolvo[i]
print('Средний балл за экзамен по чтению для каждой этнической группы:')
for i in sorted(Srednie_balli):
  print(i,'  ', Srednie_balli[i] )
end3 = time.time() - start3
print('Время выполнения задания 1:',end3) 
print('Это на', end3-end ,'дольше, чем время в задании 11')

#Для каждого уровня образования выведите минимальный балл за экзамен по письму
start4 = time.time()
Balli={}
for i in range(0,New_data.shape[0]):
  Helper=New_data.loc[i]
  if Helper['education'] in Balli:
    if Balli[Helper['education']]>Helper['writing score']:
      Balli[Helper['education']]=Helper['writing score']
  else:
    Balli[Helper['education']]=Helper['writing score']
print('Минимальный балл за экзамен по письму для каждого уровня образования:')
for i in sorted(Balli):
  print(i, '-' ,Balli[i] )
end4 = time.time() - start4
print('Время выполнения задания 2:',end4) 
print('Это на', end4-end2 ,'дольше, чем время в задании 11')

Средний балл за экзамен по чтению для каждой этнической группы:
group A    64.67415730337079
group B    67.35263157894737
group C    69.10344827586206
group D    70.03053435114504
group E    73.02857142857142
Время выполнения задания 1: 0.14089632034301758
Это на 0.13578534126281738 дольше, чем время в задании 11
Минимальный балл за экзамен по письму для каждого уровня образования:
associate's degree - 35
bachelor's degree - 38
high school - 15
master's degree - 46
some college - 19
some high school - 10
Время выполнения задания 2: 0.1137857437133789
Это на 0.10727119445800781 дольше, чем время в задании 11

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [18]:
St_gr=pd.pivot_table(New_data,index=['gender','education'],values=['math score', 'reading score', 'writing score'],aggfunc="mean")
print('Cредние баллы студентов по каждому предмету в зависимости от пола и уровня образования:')
print(St_gr)

Cредние баллы студентов по каждому предмету в зависимости от пола и уровня образования:
                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [20]:
df=New_data
Helper=['F','P']
df['Math_PassStatus']=df["math score"].apply(lambda b: Helper[int(b>=passmark)])
print("Количество студентов, сдавших (Р) и не сдавших (F) экзамен по математике:")
print(df['Math_PassStatus'].value_counts())
df['Reading_PassStatus']=df["reading score"].apply(lambda b: Helper[int(b>=passmark)])
print("Количество студентов, сдавших (Р) и не сдавших (F) экзамен по чтению:")
print(df['Reading_PassStatus'].value_counts())
df['Writing_PassStatus']=df["writing score"].apply(lambda b: Helper[int(b>=passmark)])
print("Количество студентов, сдавших (Р) и не сдавших (F) экзамен по письму:")
print(df['Writing_PassStatus'].value_counts())

Количество студентов, сдавших (Р) и не сдавших (F) экзамен по математике:
P    865
F    135
Name: Math_PassStatus, dtype: int64
Количество студентов, сдавших (Р) и не сдавших (F) экзамен по чтению:
P    910
F     90
Name: Reading_PassStatus, dtype: int64
Количество студентов, сдавших (Р) и не сдавших (F) экзамен по письму:
P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [21]:
Helper=['F','P']
df['OverAll_PassStatus']=df["Math_PassStatus"].apply(lambda b: 3-int(b=='F'))
df['OverAll_PassStatus']+=df["Reading_PassStatus"].apply(lambda b: -int(b=='F'))
df['OverAll_PassStatus']+=df["Writing_PassStatus"].apply(lambda b: -int(b=='F'))
df['OverAll_PassStatus']=df['OverAll_PassStatus'].apply(lambda b: Helper[int(b==3)])
print('Количество студентов, сдавших все экзамены:', df['OverAll_PassStatus'].value_counts()[0])

Количество студентов, сдавших все экзамены: 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [22]:
def GetGrade(average_mark):
    if average_mark>=90:
      return 'A'
    elif average_mark<90 and average_mark>=80:
      return 'B'
    elif average_mark<80 and average_mark>=70:
      return 'C'
    elif average_mark<70 and average_mark>=60:
      return 'D'
    elif average_mark<60 and average_mark>=50:
      return 'E'
    else:
      return 'F'
df['Grade']=df["math score"]
df['Grade']+=df["reading score"]
df['Grade']+=df["writing score"]
df['Grade']=df['Grade'].apply(lambda b: b/3)
df['Grade']=df['Grade'].apply(GetGrade)
print('Количество студентов, получивших каждую из оценок:')
print(df['Grade'].value_counts())

Количество студентов, получивших каждую из оценок:
C    261
D    256
E    182
B    146
F    103
A     52
Name: Grade, dtype: int64